body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #003049;
  color: #fff;
  padding: 20px;
}

h1 {
  margin: 0;
}

section {
  margin: 50px auto;
  max-width: 800px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="text"] {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0.5, 0, 0, 0.9);
  margin-bottom: 10px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #003049;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #2a9d8f;
}
